.smex-items
places
.org-id-locations
auto-save-list/*
backups/*
elpa/*
init.el~
url/cookies~
*ac-comphist.datel-get
el-get
expand-region.el/
ac-comphist.dat
*disabled
*.elc
url/*
*.smex-items
var
eshell/*
abbrev_defs
tramp
bookmarks
oauth2.plstore
elnode
projectile-bookmarks.eld
